.home {
  width: 100vw;
  height: 100vh;
}
.home .header {
  height: 80px;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.65);
}
.home .header h1 {
  color:rgba(255, 255, 255, 0.65);
}
.home .sideMenu {
  width: 200px;
  padding-top: 20px;
  height: calc(100vh - 80px);
  overflow: auto;
  background: #001529;
  position: relative;
}
.home .exitBtn {
  position: absolute;
  bottom: 30px;
  font-size: 14px;
  padding-left: 24px;
  width: 100%;
  line-height: 2;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}
.home .exitBtn:hover {
  color: #fff;
}
.home .exitBtn i {
  margin-right: 10px;
}